.WatchList-Table {
    background-color: rgb(26, 22, 36);
    width: 1320px;
    min-height: 100px;
    height: auto;
    margin:20px;
    border-radius: 20px;
    color: white;
}

.WatchList-Table table {
    width: 100%;
}